[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-ckeditor = "*"
django-bleach = "*"
djangorestframework = "*"
python-decouple = "*"
drf-yasg = "*"
django-rest-auth = "*"
django-filter = "*"
django-allauth = "*"
pyyaml = "*"
uritemplate = "*"
markdown = "*"
dj-rest-auth = "*"
django-cors-headers = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.10"
